@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --TextBoxBG: #f5f5f6;
  --naviHover: #ee5f73;
  --subNaviBG: rgb(245 245 246);
  --white: #fff;
  --signInBg: #fdefea;
  --footerText: #696b79;
  --starColor: #72bfbc;
  --DarkText: #282c3f;
  --btnBgColor: #ff3e6c;
}

html {
  font-family: "Assistant", sans-serif;
}

/* Navigation Css  */
.navigation {
  background: var(--white);
}

.btnColor{
  background-color: var(--btnBgColor);
  color: #fff;
  border-radius: 8px;
}

.navigationSearch {
  background: var(--TextBoxBG);
}

.navigationSearch input {
  min-width: 300px;
  background: inherit;
}

.navigation .uppercase li {
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.navigation .uppercase li:hover {
  border-bottom: 3px solid var(--naviHover);
  ;
}

.navigation .uppercase li:hover .sub-nav {
  visibility: visible;
}

.sub-nav .inline-block {
  color: var(--naviHover);
  padding-bottom: 12px;
}

.sub-nav ul li {
  font-size: 14px;
  opacity: .7;
  padding-bottom: 8px;
}

.sub-nav {
  visibility: hidden;
}

.sub-nav ul li:hover {
  opacity: 1;
  font-weight: 700;
  border-bottom: none !important;
}

.sub-nav div:nth-child(even) {
  background: var(--subNaviBG);
}

.noOfItem {
  top: -12px;
  width: 24px;
  height: 24px;
  background: var(--naviHover);
  color: #fff;
  border-radius: 50%;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sing IN CSS */

.sing-in {
  background: var(--signInBg);
}

.sing-in-box {
  background: var(--white);
}

/* footer Css */

.footer h2 {
  font-weight: 600;
  padding-bottom: 24px;
}

.footer ul {
  font-size: 14px;
  color: var(--footerText);
}

.footer li {
  padding-bottom: 8px;
}

.socialMediaIcon svg {
  font-size: 32px;
  color: var(--footerText);
}

/* Product */
.starIcon {
  color: var(--starColor);
  ;
}

.productDetail h3 {
  color: var(--DarkText);
  font-size: 18px;
}

.productDetail p {
  color: #535766;
}

.off {
  color: #ff905a;
}

.productDetail span {
  font-size: 14px;
}

.productGroup {
  cursor: pointer;
}

.pruductWishlist button {
  border: 1px solid #8080803b;
  padding: 8px 32px;
  width: 95%;
}


.image-gallery-content,
.image-gallery,
.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide,
.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: 100%;
  object-fit: cover;
}

.productGroup .image-gallery-bullets .image-gallery-bullet {
  padding: 3px;
  background-color: gray;
  box-shadow: none
}

.productGroup .image-gallery-bullets .image-gallery-bullet.active {
  background: #ff3f6c;
}

.productGroup .image-gallery-bullets {
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: var(--white);
  padding-top: 4px;
}